{% load static %}

<section
  class="py-4 mt-lg-5 mt-0"
  style='background-color: #814ebf; background-image: url("{% static '/images/conact-overlay.png' %}");'>
  <div class="container">
    <div class="row align-items-center" >
      <div class="collg-8 text-lg-left text-center">
        <h2 class="h2 cc-contat-footer-h2">
          Global CTA Title
        </h2>
        <p class="cc-contact-footer-p mb-0" >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium voluptatem qui blanditiis facere laudantium, ad aperiam perspiciatis in delectus eaque beatae eum! Voluptatum perspiciatis soluta dolores fugiat suscipit dolorum dolor?
          Odio doloribus quis culpa non suscipit optio veniam, recusandae, aut totam aliquid, ipsa magnam cupiditate voluptate cum fugiat. Aliquid hic quod tempora culpa quo odit quis? Porro saepe molestiae quod.
          Laborum, voluptatum voluptates dolores itaque sapiente explicabo eaque neque, rem consequuntur natus accusamus! Tempora totam quasi voluptatum expedita? Autem porro cumque optio ex, odit itaque nostrum atque magnam enim blanditiis.
          Laboriosam reprehenderit cum enim, fugit magni, quam saepe architecto debitis dolores sunt magnam facilis provident ipsum dignissimos totam dolor aliquam impedit praesentium excepturi autem nam expedita? Suscipit, quam. Sapiente, obcaecati!
          Cumque alias corrupti necessitatibus ipsam est perferendis, nulla incidunt inventore cum tempore excepturi velit tempora, possimus quis quam debitis tenetur nisi repellendus. Quas assumenda nostrum natus molestiae vero rem perspiciatis?
          Ipsum sint sequi voluptatem non recusandae perferendis necessitatibus neque, impedit quia quod est quas officia rem enim vel facilis perspiciatis fuga! Quis modi possimus laborum cupiditate harum esse similique vel.
          Facilis, dolores vel optio voluptates, quia dolore mollitia officiis tempora cumque excepturi velit molestiae pariatur explicabo amet in vitae, voluptatibus quaerat fuga incidunt deserunt beatae. Ratione nemo excepturi magnam placeat.
          Amet error dolore impedit quidem minus saepe cumque fugit! Mollitia doloremque dolor, totam, saepe nulla temporibus nisi voluptatum ipsam vel enim ad ducimus. Esse possimus vero consequuntur consequatur iste non!
          Placeat, aliquam reprehenderit. Quaerat, amet ut. Animi eligendi totam, illum eos modi rerum adipisci. Aliquid architecto numquam accusantium asperiores harum porro officiis pariatur ducimus rem voluptatum, totam atque, officia ex.
          Saepe porro necessitatibus iste aliquam a repellat, excepturi, quibusdam, harum tempora temporibus dolores quisquam? Perferendis itaque sed accusantium autem, illum magnam, iste, delectus quidem dolores tempore ipsam asperiores deserunt ullam.
          Quam est laudantium, enim rerum mollitia, autem, officia suscipit necessitatibus nobis pariatur ab non. Assumenda quos ex eaque unde veritatis harum eos explicabo vitae sed reprehenderit. Maxime cum dolores aperiam!
          Quaerat odit sed beatae nulla ut delectus voluptatibus aspernatur, amet dolores quo itaque eligendi incidunt maxime eveniet qui quisquam at eum ducimus? Molestiae dolorum et, debitis corporis aliquid eaque repudiandae.
          Sunt, eligendi maiores. Delectus eos, ipsam alias maxime placeat ducimus commodi, animi excepturi impedit molestias aperiam perferendis natus eum optio perspiciatis non dolores quaerat odio odit suscipit! Mollitia, inventore veniam.
          Sed tempore voluptatem porro? Veritatis voluptatum et perferendis ad consectetur eum, impedit quo, amet voluptates voluptatibus sapiente modi eos? Debitis adipisci illo nulla incidunt officiis voluptates autem! Cum, voluptas eos?
          Et illo velit alias quia, blanditiis sit pariatur? Mollitia facilis ab veniam fuga cupiditate? Harum reprehenderit, repellat deserunt dolores alias ut unde, doloribus autem facilis assumenda, dolor itaque! Minus, magni!
          Temporibus, sed veritatis earum dolore ipsum quod voluptates perferendis in, nisi animi deserunt? Et corporis aut, debitis reiciendis, quae suscipit ducimus numquam sit, error nam dolores ratione libero dolor delectus.
          Necessitatibus labore reiciendis deleniti cupiditate voluptatum ducimus excepturi nobis, repudiandae magnam sed placeat! Dolores facilis non iure impedit dolorum. Animi exercitationem asperiores vitae libero nihil, iste tenetur odio alias ab?
          Id, sunt? Quasi ab ipsam unde velit suscipit. Natus cumque dignissimos accusantium perferendis, quos temporibus veniam quas, eius inventore totam ea vel adipisci, necessitatibus alias in. Fuga iure voluptatum molestias!
          Aperiam aut omnis ratione vero porro fugit nobis necessitatibus, quia modi ipsam commodi distinctio cumque eligendi quidem, velit cum minima cupiditate ad saepe quos, dicta corporis? Maxime nemo eaque repellendus.
          Ipsam, neque. Eligendi iste perferendis quisquam quo cumque incidunt quas aliquid ex voluptas. Libero consequatur dolor ex? Quo, placeat enim nulla rem expedita, porro cumque quisquam iste, optio exercitationem vitae.
        </p>
      </div>
      <div class="col-lg-4 text-lg-right text-center" >
        <a href="@TODO" class="btn btn-light btn-lg mt-lg-0 mt-3">
          @TODO
        </a>
      </div>
    </div>
  </div>
</section>

<footer class="bg-dark py-4 text-light text-md-left text-center cc-footer" >
  <div class="container" >
    <div class="row mx-lg-n3" >
      <div class="px-lg-3 col-lg-3 col-md-6 col-sm-12" >
        <div class="cc-footer-title" >LINKS</div>
        {% for i in "123" %}
          <a class="cc-footer-link-lg d-block"  href="@TODO" >
            Link #{{i}} 
          </a>
        {% endfor %}
      </div>

      <div class="px-lg-2 col-lg-3 col-md-6 col-sm=12">
        <div class="cc-footer-title">Contact Us</div>
        @TODO add content
      </div>

      <div class="px-lg-4 col-lg-3 col-md-6 col-sm=12">
        <div class="cc-footer-title">Hours</div>
        @TODO add hours
      </div>

      <div class="px-lg-3 col-lg-3 col-md-6 col-sm=12">
        <a href="@TODO" class="cc-footer-social-icon">
          <img src="{% static 'images/facebook.svg' %}" alt="Facebook">
        </a>
        <a href="@TODO" class="cc-footer-social-icon">
          <img src="{% static 'images/twitter.svg' %}" alt="Twitter">
        </a>
        <a href="@TODO" class="cc-footer-social-icon">
          <img src="{% static 'images/instagram.svg' %}" alt="Instagram">
        </a>
        <a href="@TODO" class="cc-footer-social-icon">
          <img src="{% static 'images/youtube.svg' %}" alt="Youtube">
        </a>
      </div>

    </div>
  </div>
</footer>